@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

/* Variables */
:root {
    --primary-color: #404947;
    --secondary-color: #63696C;
    --tertiary-color: #FFFF;
}

* {
    font-family: "Junge", cursive;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #E6E6E6;
}

/* navbar */
.header-fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--tertiary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.nav-bar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo svg {
    margin-right: 10px;
}

.nav-logo span {
    font-weight: 500;
    font-size: 24px;
}

.nav-redirects a {
    margin-left: 14px;
    display: inline-block;
}

.nav-redirects a:after {
    content: "";
    display: block;
    margin: auto;
    height: 1.5px;
    width: 0px;
    transition: all .3s;
}

.nav-redirects a:hover:after {
    width: 100%;
    background: var(--primary-color);
}

.cn {
    width: 80%;
    margin: auto;
}

/* Login and Register */
.cn-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 500px;
}

.register-height {
    min-height: 720px;
}

.form h1 {
    color: var(--primary-color);
    font-size: 42px;
    margin: 20px auto;
}

.form label {
    color: var(--secondary-color);
    margin: 20px 0px 10px 0px;
}

.input {
    padding: 6px 0px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    margin: 0px 0px 6px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    background-color: var(--primary-color);
    padding: 14px;
    color: var(--tertiary-color);
    font-weight: 500;
    letter-spacing: 1px;
    margin: 20px 0px;
    border-radius: 12px;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.error-message {
    color: #ee4242;
    margin: 6px 0px;
    font-size: 14px;
}

p {
    margin: auto;
}

a {
    color: var(--primary-color);
}

/* homepage */
.cn-main {
    margin-top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 40%;
}

.cn-info {
    background-color: white;
    border-radius: 8px;
    padding: 25px 30px;
    width: 50%;
    min-width: 500px;
    max-width: 650px;
    min-height: 300px;
    color: var(--secondary-color);
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--primary-color);
    height: 30%;
}

.cn-social {
    display: flex;
    align-items: center;
    justify-content: right;
}

.cn-social a svg {
    margin-right: 5px;
}

/* Section categories */
.cn-categories {
    padding-top: 60px;
    height: 100vh;
}

.sub-title {
    font-size: 38px;
    text-align: center;
    margin: 30px 0px 60px 0px;
    font-weight: 500;
    color: var(--primary-color);
}

.grid-categories {
    display: grid;
    width: 80%;
    max-width: 1000px;
    height: 70%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.category {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-color);
    border-radius: 12px;
    transition: 0.2s;
    cursor: pointer;
}

.category:hover {
    transform: scale(1.01);
}

.category h3 {
    font-size: 26px;
    font-weight: 300;
}

.category-1 {
    grid-column: 1 / 3;
}

.category-2 {
    grid-column: 3 / 5;
}

.category-5 {
    grid-column: 3 / 5;
}



/* Responsive */
@media (max-width: 650px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-logo {
        margin: 10px 0px 20px 0px;
    }

    .header-fixed {
        padding: 10px 0px;
        height: auto;
    }
}